.cls-1 {
  fill: #e6e6e6;
}

.cls-2 {
  fill: #b2b2b2;
}

.cls-3 {
  fill: #b3b3b3;
}

.cls-4 {
  fill: #cbcbcb;
}

.cls-5 {
  fill: #e4e4e4;
}

.cls-6 {
  fill: #b5b5b5;
}

.cls-7 {
  fill: #c5c5c5;
}

.cls-8 {
  fill: #b6b6b6;
}

.cls-9 {
  fill: #e2e2e2;
}

.cls-10 {
  fill: #bc8e5f;
}

.cls-11 {
  fill: #fdfcf5;
}

.cls-12 {
  fill: #fbf9ed;
}

.cls-13 {
  fill: #fbf8ef;
}

.cls-14 {
  fill: #fbf7e8;
}

.cls-15 {
  fill: #fbf7ea;
}

.cls-16 {
  fill: #b79570;
}

.cls-17 {
  fill: #b8875a;
}

.cls-18 {
  fill: #fcf6e7;
}

.cls-19 {
  fill: #ab8561;
}

.cls-20 {
  fill: #b9926c;
}

.cls-21 {
  fill: #fcf7e8;
}

.cls-22 {
  fill: #f1fdfe;
}

.cls-23 {
  fill: #faf3ea;
}

.cls-24 {
  fill: #b08354;
}

.cls-25 {
  fill: #b0906b;
}

.cls-26 {
  fill: #b39370;
}

.cls-27 {
  fill: #b49271;
}

.cls-28 {
  fill: #ba8852;
}

.cls-29 {
  fill: #af8153;
}

.cls-30 {
  fill: #ab8451;
}

.cls-31 {
  fill: #ba926e;
}

.cls-32 {
  fill: #b28459;
}

.cls-33 {
  fill: #b48658;
}

.cls-34 {
  fill: #b58e67;
}

.cls-35 {
  fill: #ae8355;
}

.cls-36 {
  fill: #b38251;
}

.cls-37 {
  fill: #af7f50;
}

.cls-38 {
  fill: #b28254;
}

.cls-39 {
  fill: #b38350;
}

.cls-40 {
  fill: #b08052;
}

.cls-41 {
  fill: #b08153;
}

.cls-42 {
  fill: #b89475;
}

.cls-43 {
  fill: #ab8458;
}

.cls-44 {
  fill: #b28354;
}

.cls-45 {
  fill: #b69572;
}

.cls-46 {
  fill: #b18051;
}

.cls-47 {
  fill: #ab7f4f;
}

.cls-48 {
  fill: #b6906e;
}

.cls-49 {
  fill: #b0915a;
}

.cls-50 {
  fill: #ad7c4c;
}

.cls-51 {
  fill: #af8053;
}

.cls-52 {
  fill: #b08152;
}

.cls-53 {
  fill: #a07446;
}

.cls-54 {
  fill: #ac8053;
}

.cls-55 {
  fill: #a47c5f;
}

.cls-56 {
  fill: #9e8a6d;
}

.cls-57 {
  fill: #98d861;
}

.cls-58 {
  fill: #618b3e;
}

.cls-59 {
  fill: #9dde68;
}

.cls-60 {
  fill: #69894d;
}

.cls-61 {
  fill: #f1fde5;
}

.cls-62 {
  fill: #f0fae4;
}

.cls-63 {
  fill: #98d467;
}

.cls-64 {
  fill: #f5fce7;
}

.cls-65 {
  fill: #f7faec;
}

.cls-66 {
  fill: #92bf70;
}

.cls-67 {
  fill: #f6f8ec;
}

.cls-68 {
  fill: #f2fae1;
}

.cls-69 {
  fill: #eefae3;
}

.cls-70 {
  fill: #ecfae2;
}

.cls-71 {
  fill: #eafbe0;
}

.cls-72 {
  fill: #f2f6e3;
}

.cls-73 {
  fill: #6f8c53;
}

.cls-74 {
  fill: #a4d080;
}

.cls-75 {
  fill: #f2f9ed;
}

.cls-76 {
  fill: #e6face;
}

.cls-77 {
  fill: #dff8c9;
}

.cls-78 {
  fill: #85c056;
}

.cls-79 {
  fill: #88be58;
}

.cls-80 {
  fill: #84c155;
}

.cls-81 {
  fill: #9ad766;
}

.cls-82 {
  fill: #9ad668;
}

.cls-83 {
  fill: #9ddd66;
}

.cls-84 {
  fill: #9cdc66;
}

.cls-85 {
  fill: #9cdc65;
}

.cls-86 {
  fill: #9ddd67;
}

.cls-87 {
  fill: #9dde66;
}

.cls-88 {
  fill: #9dd172;
}

.cls-89 {
  fill: #9ede67;
}

.cls-90 {
  fill: #9adc5e;
}

.cls-91 {
  fill: #aace82;
}

.cls-92 {
  fill: #a1ec65;
}

.cls-93 {
  fill: #8dd84d;
}

.cls-94 {
  fill: #89be5d;
}

.cls-95 {
  fill: #618f38;
}

.cls-96 {
  fill: #618f3a;
}

.cls-97 {
  fill: #639136;
}

.cls-98 {
  fill: #558d2a;
}

.cls-99 {
  fill: #91b96c;
}

.cls-100 {
  fill: #558729;
}

.cls-101 {
  fill: #a5dd78;
}

.cls-102 {
  fill: #a7d97e;
}

.cls-103 {
  fill: #95db57;
}

.cls-104 {
  fill: #fecb68;
}

.cls-105 {
  fill: #636363;
}

.cls-106 {
  fill: #fefcef;
}

.cls-107 {
  fill: #fcf8e5;
}

.cls-108 {
  fill: #fbf8dc;
}

.cls-109 {
  fill: #fdfcec;
}

.cls-110 {
  fill: #fdf9e1;
}

.cls-111 {
  fill: #fdf8d9;
}

.cls-112 {
  fill: #fcfef3;
}

.cls-113 {
  fill: #f2d086;
}

.cls-114 {
  fill: #696967;
}

.cls-115 {
  fill: #f2d08c;
}

.cls-116 {
  fill: #fdf8da;
}

.cls-117 {
  fill: #f6fcf2;
}

.cls-118 {
  fill: #fdf9d8;
}

.cls-119 {
  fill: #c9b287;
}

.cls-120 {
  fill: #6a6a6a;
}

.cls-121 {
  fill: #fdf9e5;
}

.cls-122 {
  fill: #fbf8da;
}

.cls-123 {
  fill: #ecde9f;
}

.cls-124 {
  fill: #fcf0d9;
}

.cls-125 {
  fill: #f9f1c9;
}

.cls-126 {
  fill: #f1ce7f;
}

.cls-127 {
  fill: #f8fbe9;
}

.cls-128 {
  fill: #f4be5b;
}

.cls-129 {
  fill: #facb77;
}

.cls-130 {
  fill: #feca5d;
}

.cls-131 {
  fill: #e9c47e;
}

.cls-132 {
  fill: #fccf5d;
}

.cls-133 {
  fill: #ead67b;
}

.cls-134 {
  fill: #efd48d;
}

.cls-135 {
  fill: #facb70;
}

.cls-136 {
  fill: #facd66;
}

.cls-137 {
  fill: #f4ca80;
}

.cls-138 {
  fill: #fcce5c;
}

.cls-139 {
  fill: #feca5b;
}

.cls-140 {
  fill: #fdc777;
}

.cls-141 {
  fill: #fbd373;
}

.cls-142 {
  fill: #fecc55;
}

.cls-143 {
  fill: #fdcb53;
}

.cls-144 {
  fill: #736656;
}

.cls-145 {
  fill: #fdeebe;
}

.cls-146 {
  fill: #dcb870;
}

.cls-147 {
  fill: #d5c39d;
}

.cls-148 {
  fill: #d3c099;
}

.cls-149 {
  fill: #e4ba75;
}

.cls-150 {
  fill: #f6bf4d;
}

.cls-151 {
  fill: #efc970;
}

.cls-152 {
  fill: #f9bd4b;
}

.cls-153 {
  fill: #f5c181;
}

.cls-154 {
  fill: #ab7c39;
}

.cls-155 {
  fill: #aa8430;
}

.cls-156 {
  fill: #7d5917;
}

.cls-157 {
  fill: #856737;
}

.cls-158 {
  fill: #bb8e5f;
}

.cls-159 {
  fill: #fcf7ec;
}

.cls-160 {
  fill: #f9f4ea;
}

.cls-161 {
  fill: #faf8ef;
}

.cls-162 {
  fill: #faf6ea;
}

.cls-163 {
  fill: #b69574;
}

.cls-164 {
  fill: #b19577;
}

.cls-165 {
  fill: #faf7ea;
}

.cls-166 {
  fill: #fcf7eb;
}

.cls-167 {
  fill: #f7f8e7;
}

.cls-168 {
  fill: #f9f2e3;
}

.cls-169 {
  fill: #b29470;
}

.cls-170 {
  fill: #fbf8f1;
}

.cls-171 {
  fill: #b49670;
}

.cls-172 {
  fill: #f9f1d9;
}

.cls-173 {
  fill: #faf2e8;
}

.cls-174 {
  fill: #b79873;
}

.cls-175 {
  fill: #a87b4d;
}

.cls-176 {
  fill: #ac7f51;
}

.cls-177 {
  fill: #b59271;
}

.cls-178 {
  fill: #b88f57;
}

.cls-179 {
  fill: #bb8c54;
}

.cls-180 {
  fill: #b28355;
}

.cls-181 {
  fill: #ab947b;
}

.cls-182 {
  fill: #b39270;
}

.cls-183 {
  fill: #baa089;
}

.cls-184 {
  fill: #b59069;
}

.cls-185 {
  fill: #c18c5a;
}

.cls-186 {
  fill: #b98c5a;
}

.cls-187 {
  fill: #c08d63;
}

.cls-188 {
  fill: #a1875f;
}

.cls-189 {
  fill: #ba8d5e;
}

.cls-190 {
  fill: #ac7e52;
}

.cls-191 {
  fill: #b98c60;
}

.cls-192 {
  fill: #ba8d60;
}

.cls-193 {
  fill: #be8f60;
}

.cls-194 {
  fill: #bb8c5f;
}

.cls-195 {
  fill: #b98d5e;
}

.cls-196 {
  fill: #b88b5e;
}

.cls-197 {
  fill: #ba8b5d;
}

.cls-198 {
  fill: #b98d62;
}

.cls-199 {
  fill: #ba8d61;
}

.cls-200 {
  fill: #bc8c5e;
}

.cls-201 {
  fill: #a5875e;
}

.cls-202 {
  fill: #ae8155;
}

.cls-203 {
  fill: #af7f55;
}

.cls-204 {
  fill: #97d862;
}

.cls-205 {
  fill: #98d864;
}

.cls-206 {
  fill: #97d662;
}

.cls-207 {
  fill: #97d663;
}

.cls-208 {
  fill: #91b965;
}

.cls-209 {
  fill: #9cd370;
}

.cls-210 {
  fill: #f1fce7;
}

.cls-211 {
  fill: #99d666;
}

.cls-212 {
  fill: #f6feea;
}

.cls-213 {
  fill: #eefcdd;
}

.cls-214 {
  fill: #90ba6d;
}

.cls-215 {
  fill: #edfbe9;
}

.cls-216 {
  fill: #8ebd5b;
}

.cls-217 {
  fill: #e3f8d5;
}

.cls-218 {
  fill: #f0fbe3;
}

.cls-219 {
  fill: #a2d17a;
}

.cls-220 {
  fill: #eaf9df;
}

.cls-221 {
  fill: #a7d280;
}

.cls-222 {
  fill: #80bd58;
}

.cls-223 {
  fill: #fcfeef;
}

.cls-224 {
  fill: #b0d78a;
}

.cls-225 {
  fill: #a1cd7f;
}

.cls-226 {
  fill: #97b97a;
}

.cls-227 {
  fill: #eef4d6;
}

.cls-228 {
  fill: #e7f7d3;
}

.cls-229 {
  fill: #f7fcee;
}

.cls-230 {
  fill: #abd584;
}

.cls-231 {
  fill: #a5d179;
}

.cls-232 {
  fill: #87c052;
}

.cls-233 {
  fill: #edfad6;
}

.cls-234 {
  fill: #9bbb7a;
}

.cls-235 {
  fill: #89c855;
}

.cls-236 {
  fill: #81c250;
}

.cls-237 {
  fill: #8acf56;
}

.cls-238 {
  fill: #90d059;
}

.cls-239 {
  fill: #a3d176;
}

.cls-240 {
  fill: #97d763;
}

.cls-241 {
  fill: #85c451;
}

.cls-242 {
  fill: #89c955;
}

.cls-243 {
  fill: #a3d376;
}

.cls-244 {
  fill: #98d958;
}

.cls-245 {
  fill: #88d24b;
}

.cls-246 {
  fill: #a3d076;
}

.cls-247 {
  fill: #81c04d;
}

.cls-248 {
  fill: #8acb57;
}

.cls-249 {
  fill: #95dd56;
}

.cls-250 {
  fill: #96d85b;
}

.cls-251 {
  fill: #89c752;
}

.cls-252 {
  fill: #afd68c;
}

.cls-253 {
  fill: #99d764;
}

.cls-254 {
  fill: #a1e666;
}

.cls-255 {
  fill: #f7fcf9;
}

.cls-256 {
  fill: #f0fdea;
}

.cls-257 {
  fill: #f7f7f1;
}

.cls-258 {
  fill: #eefade;
}

.cls-259 {
  fill: #9fd471;
}

.cls-260 {
  fill: #be7065;
}

.cls-261 {
  fill: #fbfef2;
}

.cls-262 {
  fill: #e6f9dc;
}

.cls-263 {
  fill: #fbede5;
}

.cls-264 {
  fill: #a3d278;
}

.cls-265 {
  fill: #f9eeea;
}

.cls-266 {
  fill: #9ed86f;
}

.cls-267 {
  fill: #faefe9;
}

.cls-268 {
  fill: #e7fad6;
}

.cls-269 {
  fill: #e9fcdc;
}

.cls-270 {
  fill: #f1fdf8;
}

.cls-271 {
  fill: #f1fedc;
}

.cls-272 {
  fill: #f0fbe4;
}

.cls-273 {
  fill: #d6f1ce;
}

.cls-274 {
  fill: #ebfadd;
}

.cls-275 {
  fill: #e3f4d1;
}

.cls-276 {
  fill: #bcdd95;
}

.cls-277 {
  fill: #fefeee;
}

.cls-278 {
  fill: #fefced;
}

.cls-279 {
  fill: #fefded;
}

.cls-280 {
  fill: #e3f7cc;
}

.cls-281 {
  fill: #e5fdfd;
}

.cls-282 {
  fill: #b2e783;
}

.cls-283 {
  fill: #fbefed;
}

.cls-284 {
  fill: #f3fee8;
}

.cls-285 {
  fill: #f7feec;
}

.cls-286 {
  fill: #785c5d;
}

.cls-287 {
  fill: #a4e56a;
}

.cls-288 {
  fill: #96db5b;
}

.cls-289 {
  fill: #acda6d;
}

.cls-290 {
  fill: #b8eb8d;
}

.cls-291 {
  fill: #9cd761;
}

.cls-292 {
  fill: #b4ed82;
}

.cls-293 {
  fill: #a6e574;
}

.cls-294 {
  fill: #9de872;
}

.cls-295 {
  fill: #a3e760;
}

.cls-296 {
  fill: #a0d06a;
}

.cls-297 {
  fill: #96dc5a;
}

.cls-298 {
  fill: #aed78d;
}

.cls-299 {
  fill: #badf91;
}

.cls-300 {
  fill: #bbe498;
}

.cls-301 {
  fill: #e56d5d;
}

.cls-302 {
  fill: #d47a6c;
}

.cls-303 {
  fill: #f9e9e1;
}

.cls-304 {
  fill: #cf7b6b;
}

.cls-305 {
  fill: #db7467;
}

.cls-306 {
  fill: #b87c6f;
}

.cls-307 {
  fill: #d8635a;
}

.cls-308 {
  fill: #bc715d;
}

.cls-309 {
  fill: #a0d27c;
}

.cls-310 {
  fill: #b37c7b;
}

.cls-311 {
  fill: #c3746a;
}

.cls-312 {
  fill: #f4cebe;
}

.cls-313 {
  fill: #5d4d34;
}

.cls-314 {
  fill: #514f4f;
}

.cls-315 {
  fill: #9bef4b;
}

.cls-316 {
  fill: #bce697;
}

.cls-317 {
  fill: #da6453;
}

.cls-318 {
  fill: #bc6354;
}

.cls-319 {
  fill: #f46e58;
}

.cls-320 {
  fill: #eb6957;
}

.cls-321 {
  fill: #ee6a6d;
}

.cls-322 {
  fill: #fdfef5;
}

.cls-323 {
  fill: #fdf8e0;
}

.cls-324 {
  fill: #fdf6d9;
}

.cls-325 {
  fill: #faf8e2;
}

.cls-326 {
  fill: #dbba75;
}

.cls-327 {
  fill: #fbfae8;
}

.cls-328 {
  fill: #e0ba70;
}

.cls-329 {
  fill: #fdf7da;
}

.cls-330 {
  fill: #faf6dd;
}

.cls-331 {
  fill: #fdf9dc;
}

.cls-332 {
  fill: #e0c07b;
}

.cls-333 {
  fill: #fbf6e1;
}

.cls-334 {
  fill: #fbf5d7;
}

.cls-335 {
  fill: #6a6b55;
}

.cls-336 {
  fill: #f2d381;
}

.cls-337 {
  fill: #f8f6e5;
}

.cls-338 {
  fill: #f6eace;
}

.cls-339 {
  fill: #d0b883;
}

.cls-340 {
  fill: #f4d1a1;
}

.cls-341 {
  fill: #fdf9d9;
}

.cls-342 {
  fill: #6e5e41;
}

.cls-343 {
  fill: #f7cd7a;
}

.cls-344 {
  fill: #fafcde;
}

.cls-345 {
  fill: #fbf3d0;
}

.cls-346 {
  fill: #f0d78b;
}

.cls-347 {
  fill: #f3faea;
}

.cls-348 {
  fill: #fdf8e2;
}

.cls-349 {
  fill: #f2d782;
}

.cls-350 {
  fill: #3b3d2b;
}

.cls-351 {
  fill: #faf6da;
}

.cls-352 {
  fill: #f6d395;
}

.cls-353 {
  fill: #e7b75b;
}

.cls-354 {
  fill: #e2bc67;
}

.cls-355 {
  fill: #f3cd7d;
}

.cls-356 {
  fill: #eec873;
}

.cls-357 {
  fill: #d8bc76;
}

.cls-358 {
  fill: #fecb67;
}

.cls-359 {
  fill: #e4b760;
}

.cls-360 {
  fill: #f0bc53;
}

.cls-361 {
  fill: #e2ba71;
}

.cls-362 {
  fill: #e9ba55;
}

.cls-363 {
  fill: #dbbc7d;
}

.cls-364 {
  fill: #edd494;
}

.cls-365 {
  fill: #fbcc53;
}

.cls-366 {
  fill: #e4bb4b;
}

.cls-367 {
  fill: #fccd67;
}

.cls-368 {
  fill: #fccd5f;
}

.cls-369 {
  fill: #fdd053;
}

.cls-370 {
  fill: #fbcb74;
}

.cls-371 {
  fill: #fbce59;
}

.cls-372 {
  fill: #9b7ca9;
}

.cls-373 {
  fill: #977da6;
}

.cls-374 {
  fill: #987ba7;
}

.cls-375 {
  fill: #98d660;
}

.cls-376 {
  fill: #fbf7fc;
}

.cls-377 {
  fill: #9580a2;
}

.cls-378 {
  fill: #f4fde9;
}

.cls-379 {
  fill: #ba906b;
}

.cls-380 {
  fill: #f2f8e8;
}

.cls-381 {
  fill: #93809f;
}

.cls-382 {
  fill: #967fa2;
}

.cls-383 {
  fill: #fbf7e4;
}

.cls-384 {
  fill: #f7fcf4;
}

.cls-385 {
  fill: #ac9576;
}

.cls-386 {
  fill: #a3d77a;
}

.cls-387 {
  fill: #917f9e;
}

.cls-388 {
  fill: #f9f2fa;
}

.cls-389 {
  fill: #897bb3;
}

.cls-390 {
  fill: #ebfbeb;
}

.cls-391 {
  fill: #e0f1c8;
}

.cls-392 {
  fill: #8c7e90;
}

.cls-393 {
  fill: #a1d389;
}

.cls-394 {
  fill: #8b8a90;
}

.cls-395 {
  fill: #b59dc1;
}

.cls-396 {
  fill: #846793;
}

.cls-397 {
  fill: #977ca8;
}

.cls-398 {
  fill: #9a7cae;
}

.cls-399 {
  fill: #9781a3;
}

.cls-400 {
  fill: #a1c283;
}

.cls-401 {
  fill: #90868f;
}

.cls-402 {
  fill: #8b8a96;
}

.cls-403 {
  fill: #7f9873;
}

.cls-404 {
  fill: #8fcd57;
}

.cls-405 {
  fill: #8ccd57;
}

.cls-406 {
  fill: #95da63;
}

.cls-407 {
  fill: #8fcb5d;
}

.cls-408 {
  fill: #a2d17c;
}

.cls-409 {
  fill: #87798f;
}

.cls-410 {
  fill: #8d7f94;
}

.cls-411 {
  fill: #97d466;
}

.cls-412 {
  fill: #72706f;
}

.cls-413 {
  fill: #906b78;
}

.cls-414 {
  fill: #a67c5d;
}

.cls-415 {
  fill: #fdfdfd;
}

.cls-416 {
  fill: #9ed46a;
}

.cls-417 {
  fill: #b0b89b;
}

.cls-418 {
  fill: #797181;
}

.cls-419 {
  fill: #9ecb77;
}

.cls-420 {
  fill: #98d462;
}

.cls-421 {
  fill: #a2bd96;
}

.cls-422 {
  fill: #b0c4a3;
}

.cls-423 {
  fill: #515151;
}

.cls-424 {
  fill: #97d861;
}

.cls-425 {
  fill: #88bf58;
}

.cls-426 {
  fill: #89bf5a;
}

.cls-427 {
  fill: #a7e076;
}

.cls-428 {
  fill: #f4fce6;
}

.cls-429 {
  fill: #f3fbed;
}

.cls-430 {
  fill: #a3d07c;
}

.cls-431 {
  fill: #f1fbe7;
}

.cls-432 {
  fill: #a5e06d;
}

.cls-433 {
  fill: #96bb73;
}

.cls-434 {
  fill: #f1fbe8;
}

.cls-435 {
  fill: #f8f8f8;
}

.cls-436 {
  fill: #ecfeda;
}

.cls-437 {
  fill: #afdf64;
}

.cls-438 {
  fill: #c4ebaa;
}

.cls-439 {
  fill: #94bb70;
}

.cls-440 {
  fill: #e4f8d1;
}

.cls-441 {
  fill: #4f5a48;
}

.cls-442 {
  fill: #4e5242;
}

.cls-443 {
  fill: #f2fae6;
}

.cls-444 {
  fill: #9ecb7a;
}

.cls-445 {
  fill: #eaf5d8;
}

.cls-446 {
  fill: #eaf9d8;
}

.cls-447 {
  fill: #94b572;
}

.cls-448 {
  fill: #e9fdc8;
}

.cls-449 {
  fill: #b2db8d;
}

.cls-450 {
  fill: #f5f4f0;
}

.cls-451 {
  fill: #9bbe74;
}

.cls-452 {
  fill: #d8f3c5;
}

.cls-453 {
  fill: #94bb76;
}

.cls-454 {
  fill: #f5fce9;
}

.cls-455 {
  fill: #bddd97;
}

.cls-456 {
  fill: #e0f8ce;
}

.cls-457 {
  fill: #c1e29e;
}

.cls-458 {
  fill: #4c5845;
}

.cls-459 {
  fill: #5f5f61;
}

.cls-460 {
  fill: #a1dd67;
}

.cls-461 {
  fill: #86c051;
}

.cls-462 {
  fill: #87bf51;
}

.cls-463 {
  fill: #82c451;
}

.cls-464 {
  fill: #98d95d;
}

.cls-465 {
  fill: #80c14b;
}

.cls-466 {
  fill: #99bf77;
}

.cls-467 {
  fill: #8dbd63;
}

.cls-468 {
  fill: #9fe664;
}

.cls-469 {
  fill: #86c159;
}

.cls-470 {
  fill: #9cd075;
}

.cls-471 {
  fill: #a1e468;
}

.cls-472 {
  fill: #88bd55;
}

.cls-473 {
  fill: #aadd81;
}

.cls-474 {
  fill: #94b462;
}

.cls-475 {
  fill: #98d862;
}

.cls-476 {
  fill: #8ebe5a;
}

.cls-477 {
  fill: #88c64d;
}

.cls-478 {
  fill: #a0e477;
}

.cls-479 {
  fill: #88bf4a;
}

.cls-480 {
  fill: #8ebb5f;
}

.cls-481 {
  fill: #9cd569;
}

.cls-482 {
  fill: #94d95f;
}

.cls-483 {
  fill: #99dc56;
}

.cls-484 {
  fill: #9fd456;
}

.cls-485 {
  fill: #88cf51;
}

.cls-486 {
  fill: #88bf59;
}

.cls-487 {
  fill: #8bbd5a;
}

.cls-488 {
  fill: #f4f9f1;
}

.cls-489 {
  fill: #b3d58b;
}

.cls-490 {
  fill: #a3d17e;
}

.cls-491 {
  fill: #f2f8ee;
}

.cls-492 {
  fill: #effbe5;
}

.cls-493 {
  fill: #f8fcef;
}

.cls-494 {
  fill: #a8d177;
}

.cls-495 {
  fill: #f0fbe7;
}

.cls-496 {
  fill: #f1fae2;
}

.cls-497 {
  fill: #f1fbe5;
}

.cls-498 {
  fill: #8cbd61;
}

.cls-499 {
  fill: #b3cd8e;
}

.cls-500 {
  fill: #f8fcf0;
}

.cls-501 {
  fill: #f4fbee;
}

.cls-502 {
  fill: #f2fce1;
}

.cls-503 {
  fill: #91ba70;
}

.cls-504 {
  fill: #d8f2ba;
}

.cls-505 {
  fill: #93b96e;
}

.cls-506 {
  fill: #ecf9de;
}

.cls-507 {
  fill: #eaf9da;
}

.cls-508 {
  fill: #e8f4d4;
}

.cls-509 {
  fill: #8abe5d;
}

.cls-510 {
  fill: #f2fce0;
}

.cls-511 {
  fill: #ebfcdf;
}

.cls-512 {
  fill: #eefce7;
}

.cls-513 {
  fill: #e2f6dd;
}

.cls-514 {
  fill: #f3fbec;
}

.cls-515 {
  fill: #f3f8e8;
}

.cls-516 {
  fill: #effbef;
}

.cls-517 {
  fill: #e4f8ce;
}

.cls-518 {
  fill: #dcf1cc;
}

.cls-519 {
  fill: #e1f1cf;
}

.cls-520 {
  fill: #9cd163;
}

.cls-521 {
  fill: #9dbb89;
}

.cls-522 {
  fill: #bbd19c;
}

.cls-523 {
  fill: #86bf51;
}

.cls-524 {
  fill: #8fbe6c;
}

.cls-525 {
  fill: #85bd52;
}

.cls-526 {
  fill: #86c14d;
}

.cls-527 {
  fill: #ccfb9d;
}

.cls-528 {
  fill: #a0be85;
}

.cls-529 {
  fill: #f1f9ed;
}

.cls-530 {
  fill: #86c141;
}

.cls-531 {
  fill: #eefbde;
}

.cls-532 {
  fill: #abe98e;
}

.cls-533 {
  fill: #91b865;
}

.cls-534 {
  fill: #8bc14a;
}

.cls-535 {
  fill: #d5f8ad;
}

.cls-536 {
  fill: #96b875;
}

.cls-537 {
  fill: #8ebb64;
}

.cls-538 {
  fill: #e5f1c9;
}

.cls-539 {
  fill: #9ac06f;
}

.cls-540 {
  fill: #f7f9f3;
}

.cls-541 {
  fill: #96b872;
}

.cls-542 {
  fill: #83bb4c;
}

.cls-543 {
  fill: #97d666;
}

.cls-544 {
  fill: #d5f8b3;
}

.cls-545 {
  fill: #9ed567;
}

.cls-546 {
  fill: #a6d175;
}

.cls-547 {
  fill: #9ece66;
}

.cls-548 {
  fill: #8bbc56;
}

.cls-549 {
  fill: #8fbc62;
}

.cls-550 {
  fill: #97b86c;
}

.cls-551 {
  fill: #d3f5b0;
}

.cls-552 {
  fill: #eafbd7;
}

.cls-553 {
  fill: #93bc70;
}

.cls-554 {
  fill: #90be67;
}

.cls-555 {
  fill: #89c057;
}

.cls-556 {
  fill: #effbea;
}

.cls-557 {
  fill: #89c053;
}

.cls-558 {
  fill: #8cbc68;
}

.cls-559 {
  fill: #96bb6d;
}

.cls-560 {
  fill: #8ebd64;
}

.cls-561 {
  fill: #eefcda;
}

.cls-562 {
  fill: #e5fec7;
}

.cls-563 {
  fill: #96b874;
}

.cls-564 {
  fill: #e2f6cd;
}

.cls-565 {
  fill: #8cbc74;
}

.cls-566 {
  fill: #d8f6b8;
}

.cls-567 {
  fill: #84b64f;
}

.cls-568 {
  fill: #88b276;
}

.cls-569 {
  fill: #82c151;
}

.cls-570 {
  fill: #83bb64;
}

.cls-571 {
  fill: #81c442;
}

.cls-572 {
  fill: #eb7161;
}

.cls-573 {
  fill: #e77460;
}

.cls-574 {
  fill: #fafaf5;
}

.cls-575 {
  fill: #fbefea;
}

.cls-576 {
  fill: #ed7262;
}

.cls-577 {
  fill: #fcece9;
}

.cls-578 {
  fill: #e76c69;
}

.cls-579 {
  fill: #f26d5e;
}

.cls-580 {
  fill: #e5745d;
}

.cls-581 {
  fill: #f8fdf6;
}

.cls-582 {
  fill: #fbfaf6;
}

.cls-583 {
  fill: #f3fdfb;
}

.cls-584 {
  fill: #f5fefe;
}

.cls-585 {
  fill: #effae5;
}

.cls-586 {
  fill: #a9ce73;
}

.cls-587 {
  fill: #ce905f;
}

.cls-588 {
  fill: #faf1e7;
}

.cls-589 {
  fill: #fcf1ec;
}

.cls-590 {
  fill: #eff9df;
}

.cls-591 {
  fill: #a0d26c;
}

.cls-592 {
  fill: #94b974;
}

.cls-593 {
  fill: #a3d764;
}

.cls-594 {
  fill: #d68077;
}

.cls-595 {
  fill: #effdfa;
}

.cls-596 {
  fill: #efdfd5;
}

.cls-597 {
  fill: #dd7e73;
}

.cls-598 {
  fill: #a0d77b;
}

.cls-599 {
  fill: #f9eada;
}

.cls-600 {
  fill: #e8fdf7;
}

.cls-601 {
  fill: #b08174;
}

.cls-602 {
  fill: #cdf4bb;
}

.cls-603 {
  fill: #e2745c;
}

.cls-604 {
  fill: #e1715b;
}

.cls-605 {
  fill: #d47f6f;
}

.cls-606 {
  fill: #da7a74;
}

.cls-607 {
  fill: #f36d5f;
}

.cls-608 {
  fill: #e26958;
}

.cls-609 {
  fill: #aac676;
}

.cls-610 {
  fill: #df6c59;
}

.cls-611 {
  fill: #de795f;
}

.cls-612 {
  fill: #e16856;
}

.cls-613 {
  fill: #e77253;
}

.cls-614 {
  fill: #d98174;
}

.cls-615 {
  fill: #d78978;
}

.cls-616 {
  fill: #da8579;
}

.cls-617 {
  fill: #f8736b;
}

.cls-618 {
  fill: #ed7061;
}

.cls-619 {
  fill: #d47c74;
}

.cls-620 {
  fill: #f86d65;
}

.cls-621 {
  fill: #f76b6e;
}

.cls-622 {
  fill: #f86e6b;
}

.cls-623 {
  fill: #e5f7ce;
}

.cls-624 {
  fill: #a8d494;
}

.cls-625 {
  fill: #89be5f;
}

.cls-626 {
  fill: #9ebe7d;
}

.cls-627 {
  fill: #cff6a9;
}

.cls-628 {
  fill: #96d45f;
}

.cls-629 {
  fill: #e1776c;
}

.cls-630 {
  fill: #8ab861;
}

.cls-631 {
  fill: #94be54;
}

.cls-632 {
  fill: #86e06d;
}

.cls-633 {
  fill: #f8fbf3;
}

.cls-634 {
  fill: #fbfae9;
}

.cls-635 {
  fill: #d8b97b;
}

.cls-636 {
  fill: #b29371;
}

.cls-637 {
  fill: #effbe2;
}

.cls-638 {
  fill: #9ed073;
}

.cls-639 {
  fill: #fbfef0;
}

.cls-640 {
  fill: #fcf8eb;
}

.cls-641 {
  fill: #fdfae1;
}

.cls-642 {
  fill: #faf6e5;
}

.cls-643 {
  fill: #edd286;
}

.cls-644 {
  fill: #a4d078;
}

.cls-645 {
  fill: #fdf7ec;
}

.cls-646 {
  fill: #f4fbe4;
}

.cls-647 {
  fill: #f2fce6;
}

.cls-648 {
  fill: #a5d07c;
}

.cls-649 {
  fill: #f2fce5;
}

.cls-650 {
  fill: #f6fdf0;
}

.cls-651 {
  fill: #fefce3;
}

.cls-652 {
  fill: #fafaea;
}

.cls-653 {
  fill: #fbf5da;
}

.cls-654 {
  fill: #edfbd5;
}

.cls-655 {
  fill: #f6fde8;
}

.cls-656 {
  fill: #f5d68d;
}

.cls-657 {
  fill: #faf3d4;
}

.cls-658 {
  fill: #e7b75f;
}

.cls-659 {
  fill: #d8bc7b;
}

.cls-660 {
  fill: #deba7c;
}

.cls-661 {
  fill: #f5d086;
}

.cls-662 {
  fill: #f1cf82;
}

.cls-663 {
  fill: #e0c289;
}

.cls-664 {
  fill: #b2986a;
}

.cls-665 {
  fill: #e9b557;
}

.cls-666 {
  fill: #b98e56;
}

.cls-667 {
  fill: #bc8c62;
}

.cls-668 {
  fill: #97d263;
}

.cls-669 {
  fill: #9bda68;
}

.cls-670 {
  fill: #9cd665;
}

.cls-671 {
  fill: #99d862;
}

.cls-672 {
  fill: #8fd058;
}

.cls-673 {
  fill: #a3d280;
}

.cls-674 {
  fill: #b8be80;
}

.cls-675 {
  fill: #e5f8c4;
}

.cls-676 {
  fill: #f8ce5c;
}

.cls-677 {
  fill: #e7d36e;
}

.cls-678 {
  fill: #edf6c0;
}

.cls-679 {
  fill: #e0c184;
}

.cls-680 {
  fill: #a0d074;
}

.cls-681 {
  fill: #90d85c;
}

.cls-682 {
  fill: #99da58;
}

.cls-683 {
  fill: #99d16e;
}

.cls-684 {
  fill: #ddbe77;
}

.cls-685 {
  fill: #f0b451;
}

.cls-686 {
  fill: #e3b76a;
}

.cls-687 {
  fill: #ebb951;
}

.cls-688 {
  fill: #e6b66b;
}

.cls-689 {
  fill: #e0b66e;
}

.cls-690 {
  fill: #eeb648;
}

.cls-691 {
  fill: #f4cd6a;
}

.cls-692 {
  fill: #d8d564;
}

.cls-693 {
  fill: #fec97a;
}

.cls-694 {
  fill: #fcc958;
}

.cls-695 {
  fill: #faf9fd;
}

.cls-696 {
  fill: #effcd1;
}

.cls-697 {
  fill: #f6eee2;
}

.cls-698 {
  fill: #fada9c;
}

.cls-699 {
  fill: #90c954;
}

.cls-700 {
  fill: #effbdf;
}

.cls-701 {
  fill: #aad583;
}

.cls-702 {
  fill: #8dde52;
}

.cls-703 {
  fill: #cbd170;
}

.cls-704 {
  fill: #adcf61;
}

.cls-705 {
  fill: #9bd66a;
}

.cls-706 {
  fill: #f6fbf2;
}

.cls-707 {
  fill: #f6faf1;
}

.cls-708 {
  fill: #9ad568;
}

.cls-709 {
  fill: #f6fcee;
}

.cls-710 {
  fill: #abcc8a;
}

.cls-711 {
  fill: #f3fce8;
}

.cls-712 {
  fill: #f3f9e6;
}

.cls-713 {
  fill: #f9fef1;
}

.cls-714 {
  fill: #a0d579;
}

.cls-715 {
  fill: #f0f8e3;
}

.cls-716 {
  fill: #a7d576;
}

.cls-717 {
  fill: #f0fae5;
}

.cls-718 {
  fill: #eff8e1;
}

.cls-719 {
  fill: #eff8e2;
}

.cls-720 {
  fill: #eafcd8;
}

.cls-721 {
  fill: #f9fcec;
}

.cls-722 {
  fill: #9cb779;
}

.cls-723 {
  fill: #e9fac9;
}

.cls-724 {
  fill: #e5f2d9;
}

.cls-725 {
  fill: #8fbb69;
}

.cls-726 {
  fill: #eef9d9;
}

.cls-727 {
  fill: #bde4a8;
}

.cls-728 {
  fill: #eaf9d6;
}

.cls-729 {
  fill: #ddfbc7;
}

.cls-730 {
  fill: #f7f9e2;
}

.cls-731 {
  fill: #b3d097;
}

.cls-732 {
  fill: #dbf7c3;
}

.cls-733 {
  fill: #a7d075;
}

.cls-734 {
  fill: #ccfca3;
}

.cls-735 {
  fill: #89b14e;
}

.cls-736 {
  fill: #d0e9ad;
}

.cls-737 {
  fill: #98d860;
}

.cls-738 {
  fill: #d1fdb0;
}

.cls-739 {
  fill: #98d863;
}

.cls-740 {
  fill: #9fd67a;
}

.cls-741 {
  fill: #ebfad7;
}

.cls-742 {
  fill: #caf5a1;
}

.cls-743 {
  fill: #b5dd96;
}

.cls-744 {
  fill: #90ba69;
}

.cls-745 {
  fill: #e0f9c4;
}

.cls-746 {
  fill: #b0c79d;
}

.cls-747 {
  fill: #97d760;
}

.cls-748 {
  fill: #8bbc5e;
}

.cls-749 {
  fill: #9bb87e;
}

.cls-750 {
  fill: #afce83;
}

.cls-751 {
  fill: #dafbb6;
}

.cls-752 {
  fill: #e4f9ca;
}

.cls-753 {
  fill: #91d256;
}

.cls-754 {
  fill: #d2fca5;
}

.cls-755 {
  fill: #a1d570;
}

.cls-756 {
  fill: #9ab877;
}

.cls-757 {
  fill: #9fd368;
}

.cls-758 {
  fill: #9bb77d;
}

.cls-759 {
  fill: #cefba8;
}

.cls-760 {
  fill: #d8f1c2;
}

.cls-761 {
  fill: #88be56;
}

.cls-762 {
  fill: #90b76e;
}

.cls-763 {
  fill: #84bd60;
}

.cls-764 {
  fill: #90bc6d;
}

.cls-765 {
  fill: #e7f6d9;
}

.cls-766 {
  fill: #a5c093;
}

.cls-767 {
  fill: #99bd7f;
}

.cls-768 {
  fill: #89be57;
}

.cls-769 {
  fill: #8fba66;
}

.cls-770 {
  fill: #d1f9a5;
}

.cls-771 {
  fill: #9cc669;
}

.cls-772 {
  fill: #92b972;
}

.cls-773 {
  fill: #e0f8c6;
}

.cls-774 {
  fill: #8bc359;
}

.cls-775 {
  fill: #9fd168;
}

.cls-776 {
  fill: #90dc54;
}

.cls-777 {
  fill: #96d874;
}

.cls-778 {
  fill: #a5be88;
}

.cls-779 {
  fill: #a0bb84;
}

.cls-780 {
  fill: #8cbc69;
}

.cls-781 {
  fill: #a1d672;
}

.cls-782 {
  fill: #83c249;
}

.cls-783 {
  fill: #82c156;
}

.cls-784 {
  fill: #879d6f;
}

.cls-785 {
  fill: #86be57;
}

.cls-786 {
  fill: #cff8ac;
}

.cls-787 {
  fill: #83c34d;
}

.cls-788 {
  fill: #d0faa0;
}

.cls-789 {
  fill: #99d660;
}

.cls-790 {
  fill: #cef7a7;
}

.cls-791 {
  fill: #98d96a;
}

.cls-792 {
  fill: #9cd56c;
}

.cls-793 {
  fill: #95db5f;
}

.cls-794 {
  fill: #89d852;
}

.cls-795 {
  fill: #87c652;
}

.cls-796 {
  fill: #96c565;
}

.cls-797 {
  fill: #cafa97;
}

.cls-798 {
  fill: #86b753;
}

.cls-799 {
  fill: #8abb5e;
}

.cls-800 {
  fill: #85c34c;
}

.cls-801 {
  fill: #dcfdc0;
}

.cls-802 {
  fill: #d2faad;
}

.cls-803 {
  fill: #87c04e;
}

.cls-804 {
  fill: #81c05e;
}

.cls-805 {
  fill: #8dbb66;
}

.cls-806 {
  fill: #86c046;
}

.cls-807 {
  fill: #c3eba6;
}

.cls-808 {
  fill: #82c142;
}

.cls-809 {
  fill: #d5fbb2;
}

.cls-810 {
  fill: #93c16a;
}

.cls-811 {
  fill: #89b85d;
}

.cls-812 {
  fill: #7bbe44;
}

.cls-813 {
  fill: #dffeb5;
}

.cls-814 {
  fill: #88bf57;
}

.cls-815 {
  fill: #f3fce9;
}

.cls-816 {
  fill: #f3fbe7;
}

.cls-817 {
  fill: #92b75f;
}

.cls-818 {
  fill: #f1fbe6;
}

.cls-819 {
  fill: #fdfdf6;
}

.cls-820 {
  fill: #fbf6ea;
}

.cls-821 {
  fill: #8fb969;
}

.cls-822 {
  fill: #fcf7df;
}

.cls-823 {
  fill: #f9f2cf;
}

.cls-824 {
  fill: #94b872;
}

.cls-825 {
  fill: #95bd75;
}

.cls-826 {
  fill: #98b776;
}

.cls-827 {
  fill: #fdfaf0;
}

.cls-828 {
  fill: #ecf9d9;
}

.cls-829 {
  fill: #f3fae2;
}

.cls-830 {
  fill: #e9f9e3;
}

.cls-831 {
  fill: #ebf8e2;
}

.cls-832 {
  fill: #f6fae4;
}

.cls-833 {
  fill: #eff8db;
}

.cls-834 {
  fill: #e9f8de;
}

.cls-835 {
  fill: #97bc72;
}

.cls-836 {
  fill: #f4fee7;
}

.cls-837 {
  fill: #e9f5dc;
}

.cls-838 {
  fill: #e1f7d1;
}

.cls-839 {
  fill: #e6f4d1;
}

.cls-840 {
  fill: #d7efc1;
}

.cls-841 {
  fill: #fcf3cb;
}

.cls-842 {
  fill: #f1c260;
}

.cls-843 {
  fill: #eec15f;
}

.cls-844 {
  fill: #8db95f;
}

.cls-845 {
  fill: #8bbf54;
}

.cls-846 {
  fill: #f1c86d;
}

.cls-847 {
  fill: #97ba4f;
}

.cls-848 {
  fill: #f7c766;
}

.cls-849 {
  fill: #88c04a;
}

.cls-850 {
  fill: #9bbb51;
}

.cls-851 {
  fill: #eff4b4;
}

.cls-852 {
  fill: #95b970;
}

.cls-853 {
  fill: #a1bd58;
}

.cls-854 {
  fill: #f1ce6b;
}

.cls-855 {
  fill: #cbc55f;
}

.cls-856 {
  fill: #b6b84b;
}

.cls-857 {
  fill: #87bf57;
}

.cls-858 {
  fill: #91ba6b;
}

.cls-859 {
  fill: #90b763;
}

.cls-860 {
  fill: #8db867;
}

.cls-861 {
  fill: #8abf58;
}

.cls-862 {
  fill: #86c24a;
}

.cls-863 {
  fill: #83c14d;
}

.cls-864 {
  fill: #89bb50;
}

.cls-865 {
  fill: #f3c464;
}

.cls-866 {
  fill: #f7f7e2;
}

.cls-867 {
  fill: #e4d5a1;
}

.cls-868 {
  fill: #ebd08f;
}

.cls-869 {
  fill: #e1c794;
}

.cls-870 {
  fill: #ebeba3;
}

.cls-871 {
  fill: #99b972;
}

.cls-872 {
  fill: #f0d48e;
}

.cls-873 {
  fill: #f0be5c;
}

.cls-874 {
  fill: #97b751;
}

.cls-875 {
  fill: #f1cd6c;
}

.cls-876 {
  fill: #f6c056;
}

.cls-877 {
  fill: #dbc96c;
}

.cls-878 {
  fill: #fac967;
}

.cls-879 {
  fill: #f9cb69;
}

.cls-880 {
  fill: #f3c965;
}

.cls-881 {
  fill: #f4c767;
}

.cls-882 {
  fill: #9cb754;
}

.cls-883 {
  fill: #e5bd5b;
}

.cls-884 {
  fill: #f8c969;
}

.cls-885 {
  fill: #e7be56;
}

.cls-886 {
  fill: #d7cf6a;
}

.cls-887 {
  fill: #fcc965;
}

.cls-888 {
  fill: #fbc565;
}

.cls-889 {
  fill: #f8ca66;
}

.cls-890 {
  fill: #ead56b;
}

.cls-891 {
  fill: #dfcd6d;
}

.cls-892 {
  fill: #a2ba50;
}

.cls-893 {
  fill: #fac866;
}

.cls-894 {
  fill: #eecf6d;
}

.cls-895 {
  fill: #fccc6f;
}

.cls-896 {
  fill: #f9cb6b;
}

.cls-897 {
  fill: #efcf74;
}

.cls-898 {
  fill: #f4cc6d;
}

.cls-899 {
  fill: #eacb6f;
}

.cls-900 {
  fill: #e8d070;
}

.cls-901 {
  fill: #93bb58;
}

.cls-902 {
  fill: #a7b555;
}

.cls-903 {
  fill: #97da5b;
}

.cls-904 {
  fill: #f5c255;
}

.cls-905 {
  fill: #f7c157;
}

.cls-906 {
  fill: #facd6d;
}

.cls-907 {
  fill: #edba51;
}

.cls-908 {
  fill: #edbf53;
}

.cls-909 {
  fill: #e6b955;
}

.cls-910 {
  fill: #facb67;
}

.cls-911 {
  fill: #fbca69;
}

.cls-912 {
  fill: #f2d064;
}

.cls-913 {
  fill: #fecd6c;
}

.cls-914 {
  fill: #ec7261;
}

.cls-915 {
  fill: #ec7164;
}

.cls-916 {
  fill: #f9ede0;
}

.cls-917 {
  fill: #fcfdf5;
}

.cls-918 {
  fill: #8fb96a;
}

.cls-919 {
  fill: #fce9e5;
}

.cls-920 {
  fill: #f0fae6;
}

.cls-921 {
  fill: #eff8e0;
}

.cls-922 {
  fill: #f1f9e8;
}

.cls-923 {
  fill: #f1fae5;
}

.cls-924 {
  fill: #c7796b;
}

.cls-925 {
  fill: #f0f8e0;
}

.cls-926 {
  fill: #fbeae6;
}

.cls-927 {
  fill: #fbf0e7;
}

.cls-928 {
  fill: #eef9df;
}

.cls-929 {
  fill: #fce6e2;
}

.cls-930 {
  fill: #fbe5e0;
}

.cls-931 {
  fill: #fbe5e6;
}

.cls-932 {
  fill: #fbe5d8;
}

.cls-933 {
  fill: #e2f6d0;
}

.cls-934 {
  fill: #e87361;
}

.cls-935 {
  fill: #f26e5d;
}

.cls-936 {
  fill: #e77068;
}

.cls-937 {
  fill: #e47365;
}

.cls-938 {
  fill: #de776f;
}

.cls-939 {
  fill: #f56c5d;
}

.cls-940 {
  fill: #644b4a;
}

.cls-941 {
  fill: #ce7466;
}

.cls-942 {
  fill: #f66c5f;
}

.cls-943 {
  fill: #ce7e72;
}

.cls-944 {
  fill: #e37b54;
}

.cls-945 {
  fill: #df7a5f;
}

.cls-946 {
  fill: #f46750;
}

.cls-947 {
  fill: #c47f75;
}

.cls-948 {
  fill: #834b46;
}

.cls-949 {
  fill: #eb6f65;
}

.cls-950 {
  fill: #e47559;
}

.cls-951 {
  fill: #e87363;
}

.cls-952 {
  fill: #e87158;
}

.cls-953 {
  fill: #f17058;
}

.cls-954 {
  fill: #564e3a;
}

.cls-955 {
  fill: #60443e;
}

.cls-956 {
  fill: #d37667;
}

.cls-957 {
  fill: #d97361;
}

.cls-958 {
  fill: #d16f78;
}

.cls-959 {
  fill: #f26953;
}

.cls-960 {
  fill: #bb6a5c;
}

.cls-961 {
  fill: #7c4e49;
}

.cls-962 {
  fill: #e08f83;
}

.cls-963 {
  fill: #89be5a;
}

.cls-964 {
  fill: #8eba72;
}

.cls-965 {
  fill: #8fbe75;
}

.cls-966 {
  fill: #95bb72;
}

.cls-967 {
  fill: #8fbc70;
}

.cls-968 {
  fill: #8cb974;
}

.cls-969 {
  fill: #96b94d;
}

.cls-970 {
  fill: #9bbd76;
}

.cls-971 {
  fill: #e0f4ce;
}

.cls-972 {
  fill: #efe1cc;
}

.cls-973 {
  fill: #8dbe5b;
}

.cls-974 {
  fill: #db7963;
}

.cls-975 {
  fill: #efefdc;
}

.cls-976 {
  fill: #e0775f;
}

.cls-977 {
  fill: #d67c6b;
}

.cls-978 {
  fill: #db7671;
}

.cls-979 {
  fill: #d67d76;
}

.cls-980 {
  fill: #d67d6b;
}

.cls-981 {
  fill: #d87d74;
}

.cls-982 {
  fill: #edddd2;
}

.cls-983 {
  fill: #d8817d;
}

.cls-984 {
  fill: #f4d7d9;
}

.cls-985 {
  fill: #fce2f4;
}

.cls-986 {
  fill: #d3786d;
}

.cls-987 {
  fill: #da6f51;
}

.cls-988 {
  fill: #8bbd54;
}

.cls-989 {
  fill: #91c06d;
}

.cls-990 {
  fill: #f6f9e3;
}

.cls-991 {
  fill: #f06f60;
}

.cls-992 {
  fill: #d57e6c;
}

.cls-993 {
  fill: #90bb74;
}

.cls-994 {
  fill: #764c45;
}

.cls-995 {
  fill: #f16f5d;
}

.cls-996 {
  fill: #f26f5d;
}

.cls-997 {
  fill: #7a4f4d;
}

.cls-998 {
  fill: #d3766f;
}

.cls-999 {
  fill: #c58278;
}

.cls-1000 {
  fill: #7e412f;
}

.cls-1001 {
  fill: #e67454;
}

.cls-1002 {
  fill: #d97a80;
}

.cls-1003 {
  fill: #764e47;
}

.cls-1004 {
  fill: #ec725c;
}

.cls-1005 {
  fill: #5e4f42;
}

.cls-1006 {
  fill: #f66b75;
}

.cls-1007 {
  fill: #885146;
}

.cls-1008 {
  fill: #f06c59;
}

.cls-1009 {
  fill: #f16e68;
}

.cls-1010 {
  fill: #60473d;
}

.cls-1011 {
  fill: #88be4a;
}

.cls-1012 {
  fill: #86c24e;
}

.cls-1013 {
  fill: #b9dba5;
}

.cls-1014 {
  fill: #495a4c;
}

.cls-1015 {
  fill: #99d766;
}

.cls-1016 {
  fill: #e3e5e6;
}

.cls-1017 {
  fill: #8abe59;
}

.cls-1018 {
  fill: #a3d17a;
}

.cls-1019 {
  fill: #efe1e9;
}

.cls-1020 {
  fill: #f5fafc;
}

.cls-1021 {
  fill: #eff8e3;
}

.cls-1022 {
  fill: #f0fbe5;
}

.cls-1023 {
  fill: #f2faea;
}

.cls-1024 {
  fill: #f8d2e8;
}

.cls-1025 {
  fill: #f0fcdf;
}

.cls-1026 {
  fill: #effcde;
}

.cls-1027 {
  fill: #fbecf8;
}

.cls-1028 {
  fill: #fbe6f6;
}

.cls-1029 {
  fill: #93b871;
}

.cls-1030 {
  fill: #f0fefd;
}

.cls-1031 {
  fill: #e8f2d7;
}

.cls-1032 {
  fill: #f1f9df;
}

.cls-1033 {
  fill: #f5f4da;
}

.cls-1034 {
  fill: #d8eebd;
}

.cls-1035 {
  fill: #ddeeca;
}

.cls-1036 {
  fill: #f7d4e9;
}

.cls-1037 {
  fill: #dee7e7;
}

.cls-1038 {
  fill: #dbdbdb;
}

.cls-1039 {
  fill: #d7dbd8;
}

.cls-1040 {
  fill: #96d85f;
}

.cls-1041 {
  fill: #86c058;
}

.cls-1042 {
  fill: #99d65e;
}

.cls-1043 {
  fill: #89c35b;
}

.cls-1044 {
  fill: #639739;
}

.cls-1045 {
  fill: #5e9c34;
}

.cls-1046 {
  fill: #9ed376;
}

.cls-1047 {
  fill: #69a83a;
}

.cls-1048 {
  fill: #9bcb71;
}

.cls-1049 {
  fill: #609b3b;
}

.cls-1050 {
  fill: #57952b;
}

.cls-1051 {
  fill: #9bd662;
}

.cls-1052 {
  fill: #87bf5f;
}

.cls-1053 {
  fill: #82bd4b;
}

.cls-1054 {
  fill: #619936;
}

.cls-1055 {
  fill: #70a540;
}

.cls-1056 {
  fill: #e86da8;
}

.cls-1057 {
  fill: #de81a9;
}

.cls-1058 {
  fill: #f9f2f2;
}

.cls-1059 {
  fill: #8eb86a;
}

.cls-1060 {
  fill: #97bb72;
}

.cls-1061 {
  fill: #88c054;
}

.cls-1062 {
  fill: #ed70a8;
}

.cls-1063 {
  fill: #e174a5;
}

.cls-1064 {
  fill: #d17ba3;
}

.cls-1065 {
  fill: #c583a0;
}

.cls-1066 {
  fill: #f16ea8;
}

.cls-1067 {
  fill: #5b9131;
}

.cls-1068 {
  fill: #8abe5b;
}

.cls-1069 {
  fill: #ce7ba3;
}

.cls-1070 {
  fill: #8abf53;
}

.cls-1071 {
  fill: #f0eade;
}

.cls-1072 {
  fill: #d1f797;
}

.cls-1073 {
  fill: #b07a87;
}

.cls-1074 {
  fill: #a6d678;
}

.cls-1075 {
  fill: #64903f;
}

.cls-1076 {
  fill: #89bf59;
}

.cls-1077 {
  fill: #ccf994;
}

.cls-1078 {
  fill: #ed70aa;
}

.cls-1079 {
  fill: #f56baa;
}

.cls-1080 {
  fill: #f96aa7;
}

.cls-1081 {
  fill: #efe9df;
}

.cls-1082 {
  fill: #e372a4;
}

.cls-1083 {
  fill: #8abf4d;
}

.cls-1084 {
  fill: #e3f7c7;
}

.cls-1085 {
  fill: #94c77e;
}

.cls-1086 {
  fill: #636261;
}

.cls-1087 {
  fill: #666;
}

.cls-1088 {
  fill: #464544;
}

.cls-1089 {
  fill: #646464;
}

.cls-1090 {
  fill: #8bbc62;
}

.cls-1091 {
  fill: #555554;
}

.cls-1092 {
  fill: #515251;
}

.cls-1093 {
  fill: #494845;
}

.cls-1094 {
  fill: #343434;
}

.cls-1095 {
  fill: #484848;
}

.cls-1096 {
  fill: #545454;
}

.cls-1097 {
  fill: #fbfcf3;
}

.cls-1098 {
  fill: #fbf9f3;
}

.cls-1099 {
  fill: #505050;
}

.cls-1100 {
  fill: #eaf8dd;
}

.cls-1101 {
  fill: #a7937e;
}

.cls-1102 {
  fill: #92bd6b;
}

.cls-1103 {
  fill: #e8f5d6;
}

.cls-1104 {
  fill: #f8f6e9;
}

.cls-1105 {
  fill: #313131;
}

.cls-1106 {
  fill: #474440;
}

.cls-1107 {
  fill: #4e4737;
}

.cls-1108 {
  fill: #515d4f;
}

.cls-1109 {
  fill: #444;
}

.cls-1110 {
  fill: #464646;
}

.cls-1111 {
  fill: #5b6357;
}

.cls-1112 {
  fill: #525252;
}

.cls-1113 {
  fill: #454545;
}

.cls-1114 {
  fill: #393939;
}

.cls-1115 {
  fill: #4d4e4f;
}

.cls-1116 {
  fill: #c2e3b8;
}

.cls-1117 {
  fill: #1d1d1d;
}

.cls-1118 {
  fill: #828282;
}

.cls-1119 {
  fill: #e2f2cc;
}

.cls-1120 {
  fill: #eeebe6;
}

.cls-1121 {
  fill: #4c4642;
}

.cls-1122 {
  fill: #a9a9a9;
}

.cls-1123 {
  fill: #afafaf;
}

.cls-1124 {
  fill: #484646;
}

.cls-1125 {
  fill: #adadad;
}

.cls-1126 {
  fill: #666465;
}

.cls-1127 {
  fill: #515351;
}

.cls-1128 {
  fill: #f6ebdd;
}

.cls-1129 {
  fill: #a69180;
}

.cls-1130 {
  fill: #e7dcd1;
}

.cls-1131 {
  fill: #363c38;
}

.cls-1132 {
  fill: #45463f;
}

.cls-1133 {
  fill: #464542;
}

.cls-1134 {
  fill: #babebe;
}

.cls-1135 {
  fill: #ababab;
}

.cls-1136 {
  fill: #3f502e;
}

.cls-1137 {
  fill: #8eb56e;
}

.cls-1138 {
  fill: #efe9e3;
}

.cls-1139 {
  fill: #514e3d;
}

.cls-1140 {
  fill: #e4e2e4;
}

.cls-1141 {
  fill: #998c7c;
}

.cls-1142 {
  fill: #666667;
}

.cls-1143 {
  fill: #494949;
}

.cls-1144 {
  fill: #87c051;
}

.cls-1145 {
  fill: #94bc6f;
}

.cls-1146 {
  fill: #646564;
}

.cls-1147 {
  fill: #91b870;
}

.cls-1148 {
  fill: #4b623a;
}

.cls-1149 {
  fill: #6a6869;
}

.cls-1150 {
  fill: #b0b0b0;
}

.cls-1151 {
  fill: #444344;
}

.cls-1152 {
  fill: #a09477;
}

.cls-1153 {
  fill: #495a3b;
}

.cls-1154 {
  fill: #545545;
}

.cls-1155 {
  fill: #ad978a;
}

.cls-1156 {
  fill: #646463;
}

.cls-1157 {
  fill: #5a473a;
}

.cls-1158 {
  fill: #eeecd6;
}

.cls-1159 {
  fill: #5d6554;
}

.cls-1160 {
  fill: #86c155;
}

.cls-1161 {
  fill: #7ac448;
}

.cls-1162 {
  fill: #88b26a;
}

.cls-1163 {
  fill: #84c443;
}

.cls-1164 {
  fill: #afb0b0;
}

.cls-1165 {
  fill: #adada9;
}

.cls-1166 {
  fill: #ada8ac;
}

.cls-1167 {
  fill: #fbf1eb;
}

.cls-1168 {
  fill: #e67266;
}

.cls-1169 {
  fill: #f4f9e6;
}

.cls-1170 {
  fill: #fbf7f1;
}

.cls-1171 {
  fill: #f8f9f6;
}

.cls-1172 {
  fill: #eef9de;
}

.cls-1173 {
  fill: #f6fefd;
}

.cls-1174 {
  fill: #d48073;
}

.cls-1175 {
  fill: #fbf0f2;
}

.cls-1176 {
  fill: #f5f8f9;
}

.cls-1177 {
  fill: #f6fbdc;
}

.cls-1178 {
  fill: #f3fefe;
}

.cls-1179 {
  fill: #bcce8b;
}

.cls-1180 {
  fill: #d18474;
}

.cls-1181 {
  fill: #c46b5f;
}

.cls-1182 {
  fill: #fbe8e7;
}

.cls-1183 {
  fill: #bf7a7d;
}

.cls-1184 {
  fill: #fbe8e3;
}

.cls-1185 {
  fill: #d1706c;
}

.cls-1186 {
  fill: #f7dbd6;
}

.cls-1187 {
  fill: #b6807a;
}

.cls-1188 {
  fill: #efc6c3;
}

.cls-1189 {
  fill: #d19f94;
}

.cls-1190 {
  fill: #fcefea;
}

.cls-1191 {
  fill: #99706a;
}

.cls-1192 {
  fill: #a07471;
}

.cls-1193 {
  fill: #e37162;
}

.cls-1194 {
  fill: #e3766c;
}

.cls-1195 {
  fill: #e26a59;
}

.cls-1196 {
  fill: #e66555;
}

.cls-1197 {
  fill: #ee7166;
}

.cls-1198 {
  fill: #f96857;
}

.cls-1199 {
  fill: #e07364;
}

.cls-1200 {
  fill: #d37e73;
}

.cls-1201 {
  fill: #d08680;
}

.cls-1202 {
  fill: #d48180;
}

.cls-1203 {
  fill: #9fd376;
}

.cls-1204 {
  fill: #b4da85;
}

.cls-1205 {
  fill: #98be73;
}

.cls-1206 {
  fill: #d0faa9;
}

.cls-1207 {
  fill: #b4c9a0;
}

.cls-1208 {
  fill: #a2be8c;
}

.cls-1209 {
  fill: #c5f8ae;
}

.cls-1210 {
  fill: #e5705f;
}

.cls-1211 {
  fill: #d17c6f;
}

.cls-1212 {
  fill: #84c352;
}

.cls-1213 {
  fill: #95ba70;
}

.cls-1214 {
  fill: #94b965;
}

.cls-1215 {
  fill: #a0e26b;
}

.cls-1216 {
  fill: #af7471;
}

.cls-1217 {
  fill: #e67160;
}

.cls-1218 {
  fill: #e36a5a;
}

.cls-1219 {
  fill: #e86957;
}

.cls-1220 {
  fill: #d56956;
}

.cls-1221 {
  fill: #df7362;
}

.cls-1222 {
  fill: #f77065;
}

.cls-1223 {
  fill: #9cc15d;
}

.cls-1224 {
  fill: #ea7161;
}

.cls-1225 {
  fill: #e16757;
}

.cls-1226 {
  fill: #e26e4e;
}

.cls-1227 {
  fill: #f67160;
}

.cls-1228 {
  fill: #ee6f63;
}

.cls-1229 {
  fill: #c87364;
}

.cls-1230 {
  fill: #df715b;
}

.cls-1231 {
  fill: #ec7564;
}

.cls-1232 {
  fill: #e1674d;
}

.cls-1233 {
  fill: #e56a59;
}

.cls-1234 {
  fill: #e36958;
}

.cls-1235 {
  fill: #d55f4d;
}

.cls-1236 {
  fill: #f9faf5;
}

.cls-1237 {
  fill: #98d662;
}

.cls-1238 {
  fill: #df675a;
}

.cls-1239 {
  fill: #eff9e6;
}

.cls-1240 {
  fill: #effbe4;
}

.cls-1241 {
  fill: #a7cd68;
}

.cls-1242 {
  fill: #f9fdf8;
}

.cls-1243 {
  fill: #fafaf6;
}

.cls-1244 {
  fill: #f8fbf2;
}

.cls-1245 {
  fill: #fcefe7;
}

.cls-1246 {
  fill: #f8fded;
}

.cls-1247 {
  fill: #abda79;
}

.cls-1248 {
  fill: #f0fef9;
}

.cls-1249 {
  fill: #aecb87;
}

.cls-1250 {
  fill: #fbf1ed;
}

.cls-1251 {
  fill: #e9fbd6;
}

.cls-1252 {
  fill: #ca7c6b;
}

.cls-1253 {
  fill: #9ed46b;
}

.cls-1254 {
  fill: #fcf1e7;
}

.cls-1255 {
  fill: #ce9084;
}

.cls-1256 {
  fill: #fce9dd;
}

.cls-1257 {
  fill: #f5e2db;
}

.cls-1258 {
  fill: #d58676;
}

.cls-1259 {
  fill: #f4e6dd;
}

.cls-1260 {
  fill: #ecf9e3;
}

.cls-1261 {
  fill: #eef7e9;
}

.cls-1262 {
  fill: #ebfefe;
}

.cls-1263 {
  fill: #ecfadf;
}

.cls-1264 {
  fill: #e5fef9;
}

.cls-1265 {
  fill: #f8e7d3;
}

.cls-1266 {
  fill: #e5fef1;
}

.cls-1267 {
  fill: #e9fcf7;
}

.cls-1268 {
  fill: #a9cc85;
}

.cls-1269 {
  fill: #d2817a;
}

.cls-1270 {
  fill: #d3eabe;
}

.cls-1271 {
  fill: #e47061;
}

.cls-1272 {
  fill: #d46755;
}

.cls-1273 {
  fill: #ec7165;
}

.cls-1274 {
  fill: #d6796e;
}

.cls-1275 {
  fill: #be7a69;
}

.cls-1276 {
  fill: #db816f;
}

.cls-1277 {
  fill: #fcece2;
}

.cls-1278 {
  fill: #bd7874;
}

.cls-1279 {
  fill: #fce8e3;
}

.cls-1280 {
  fill: #98d764;
}

.cls-1281 {
  fill: #85c058;
}

.cls-1282 {
  fill: #a0d376;
}

.cls-1283 {
  fill: #8edd64;
}

.cls-1284 {
  fill: #da6353;
}

.cls-1285 {
  fill: #ec6f62;
}

.cls-1286 {
  fill: #e57461;
}

.cls-1287 {
  fill: #e96f60;
}

.cls-1288 {
  fill: #d38e83;
}

.cls-1289 {
  fill: #bd9162;
}

.cls-1290 {
  fill: #dff9ca;
}

.cls-1291 {
  fill: #d67c6c;
}

.cls-1292 {
  fill: #afd481;
}

.cls-1293 {
  fill: #b4cfa2;
}

.cls-1294 {
  fill: #def9c0;
}

.cls-1295 {
  fill: #eb6f61;
}

.cls-1296 {
  fill: #8fdd63;
}

.cls-1297 {
  fill: #db6154;
}

.cls-1298 {
  fill: #e3725a;
}

.cls-1299 {
  fill: #b1c566;
}

.cls-1300 {
  fill: #da7459;
}

.cls-1301 {
  fill: #ce6b6c;
}

.cls-1302 {
  fill: #e07f78;
}

.cls-1303 {
  fill: #8fbd64;
}

.cls-1304 {
  fill: #8eb76c;
}

.cls-1305 {
  fill: #cf805a;
}

.cls-1306 {
  fill: #d57e71;
}

.cls-1307 {
  fill: #89bd5f;
}

.cls-1308 {
  fill: #95bb74;
}

.cls-1309 {
  fill: #98bc75;
}

.cls-1310 {
  fill: #a4d062;
}

.cls-1311 {
  fill: #8cd85c;
}

.cls-1312 {
  fill: #ea715c;
}

.cls-1313 {
  fill: #e36758;
}

.cls-1314 {
  fill: #e75d56;
}

.cls-1315 {
  fill: #e77263;
}

.cls-1316 {
  fill: #e96e64;
}

.cls-1317 {
  fill: #cd7d6d;
}

.cls-1318 {
  fill: #bc7c6e;
}

.cls-1319 {
  fill: #f96b6a;
}

.cls-1320 {
  fill: #e06758;
}

.cls-1321 {
  fill: #e67262;
}

.cls-1322 {
  fill: #f56b62;
}

.cls-1323 {
  fill: #e97160;
}

.cls-1324 {
  fill: #8dde62;
}

.cls-1325 {
  fill: #b4c568;
}

.cls-1326 {
  fill: #b5c468;
}

.cls-1327 {
  fill: #d57254;
}

.cls-1328 {
  fill: #b6ac60;
}

.cls-1329 {
  fill: #85c150;
}

.cls-1330 {
  fill: #ea7163;
}

.cls-1331 {
  fill: #e87060;
}

.cls-1332 {
  fill: #e96f61;
}

.cls-1333 {
  fill: #dc6353;
}

.cls-1334 {
  fill: #e8705e;
}

.cls-1335 {
  fill: #e87160;
}

.cls-1336 {
  fill: #dd6556;
}

.cls-1337 {
  fill: #e77061;
}

.cls-1338 {
  fill: #e97062;
}

.cls-1339 {
  fill: #e87260;
}

.cls-1340 {
  fill: #e97163;
}

.cls-1341 {
  fill: #e97162;
}

.cls-1342 {
  fill: #e8705f;
}

.cls-1343 {
  fill: #e97261;
}

.cls-1344 {
  fill: #e76f5e;
}

.cls-1345 {
  fill: #e67261;
}

.cls-1346 {
  fill: #ed6f61;
}

.cls-1347 {
  fill: #e47164;
}

.cls-1348 {
  fill: #df765d;
}

.cls-1349 {
  fill: #e2635a;
}

.cls-1350 {
  fill: #d8735c;
}

.cls-1351 {
  fill: #db755e;
}

.cls-1352 {
  fill: #accb6b;
}

.cls-1353 {
  fill: #a9d062;
}

.cls-1354 {
  fill: #c8695b;
}

.cls-1355 {
  fill: #d56748;
}

.cls-1356 {
  fill: #f06b64;
}

.cls-1357 {
  fill: #e85f52;
}

.cls-1358 {
  fill: #e87162;
}

.cls-1359 {
  fill: #e86052;
}

.cls-1360 {
  fill: #e67461;
}

.cls-1361 {
  fill: #c1834e;
}

.cls-1362 {
  fill: #c56640;
}

.cls-1363 {
  fill: #ed6f65;
}

.cls-1364 {
  fill: #e87163;
}

.cls-1365 {
  fill: #c98550;
}

.cls-1366 {
  fill: #e5e6e5;
}

.cls-1367 {
  fill: #e4e6e3;
}

.cls-1368 {
  fill: #9bd36a;
}

.cls-1369 {
  fill: #e7e8e4;
}

.cls-1370 {
  fill: #98d564;
}

.cls-1371 {
  fill: #f4fbec;
}

.cls-1372 {
  fill: #f8fcea;
}

.cls-1373 {
  fill: #e1e6db;
}

.cls-1374 {
  fill: #f5fde3;
}

.cls-1375 {
  fill: #f0fce2;
}

.cls-1376 {
  fill: #f8fdf3;
}

.cls-1377 {
  fill: #f0fce4;
}

.cls-1378 {
  fill: #9ad56d;
}

.cls-1379 {
  fill: #e1e8e2;
}

.cls-1380 {
  fill: #f1fbe2;
}

.cls-1381 {
  fill: #f9fcf2;
}

.cls-1382 {
  fill: #a6d181;
}

.cls-1383 {
  fill: #f4fcec;
}

.cls-1384 {
  fill: #edfbdf;
}

.cls-1385 {
  fill: #d7f0c6;
}

.cls-1386 {
  fill: #add187;
}

.cls-1387 {
  fill: #f0fce7;
}

.cls-1388 {
  fill: #ebfce2;
}

.cls-1389 {
  fill: #effbe9;
}

.cls-1390 {
  fill: #e4e6fa;
}

.cls-1391 {
  fill: #a2c986;
}

.cls-1392 {
  fill: #a3c480;
}

.cls-1393 {
  fill: #f0f9de;
}

.cls-1394 {
  fill: #98bd76;
}

.cls-1395 {
  fill: #99db69;
}

.cls-1396 {
  fill: #f8fae5;
}

.cls-1397 {
  fill: #88b85e;
}

.cls-1398 {
  fill: #a4d477;
}

.cls-1399 {
  fill: #b1c89c;
}

.cls-1400 {
  fill: #f5f9ed;
}

.cls-1401 {
  fill: #fefefe;
}

.cls-1402 {
  fill: #fdfefd;
}

.cls-1403 {
  fill: #fefdfd;
}

.cls-1404 {
  fill: #fbfbfa;
}

.cls-1405 {
  fill: #fdfdfc;
}

.cls-1406 {
  fill: #9bd666;
}

.cls-1407 {
  fill: #e5e9e5;
}

.cls-1408 {
  fill: #e6e7eb;
}

.cls-1409 {
  fill: #ece3e8;
}

.cls-1410 {
  fill: #dae9ca;
}

.cls-1411 {
  fill: #dcebc5;
}

.cls-1412 {
  fill: #f8f6f7;
}

.cls-1413 {
  fill: #eeebf4;
}

.cls-1414 {
  fill: #f3f3f2;
}

.cls-1415 {
  fill: #e5e5e4;
}

.cls-1416 {
  fill: #f1f1f1;
}

.cls-1417 {
  fill: #9ad565;
}

.cls-1418 {
  fill: #f2fddf;
}

.cls-1419 {
  fill: #84c563;
}

.cls-1420 {
  fill: #98c573;
}

.cls-1421 {
  fill: #98d661;
}

.cls-1422 {
  fill: #8fd549;
}

.cls-1423 {
  fill: #a4d482;
}

.cls-1424 {
  fill: #7fc951;
}

.cls-1425 {
  fill: #e7e7eb;
}

.cls-1426 {
  fill: #9bd669;
}

.cls-1427 {
  fill: #95bc74;
}

.cls-1428 {
  fill: #9ed16b;
}

.cls-1429 {
  fill: #8fce5c;
}

.cls-1430 {
  fill: #84c452;
}

.cls-1431 {
  fill: #81c14e;
}

.cls-1432 {
  fill: #b0d096;
}

.cls-1433 {
  fill: #9cd66b;
}

.cls-1434 {
  fill: #a3d379;
}

.cls-1435 {
  fill: #a4cf7a;
}

.cls-1436 {
  fill: #a8cd79;
}

.cls-1437 {
  fill: #add289;
}

.cls-1438 {
  fill: #f1fceb;
}

.cls-1439 {
  fill: #b3cc93;
}

.cls-1440 {
  fill: #d0e6bd;
}

.cls-1441 {
  fill: #a6cf7d;
}

.cls-1442 {
  fill: #95de53;
}

.cls-1443 {
  fill: #f6fae7;
}

.cls-1444 {
  fill: #ddf2d7;
}

.cls-1445 {
  fill: #a7d07a;
}

.cls-1446 {
  fill: #effae0;
}

.cls-1447 {
  fill: #f7fcea;
}

.cls-1448 {
  fill: #d7f0ba;
}

.cls-1449 {
  fill: #e9f7cf;
}

.cls-1450 {
  fill: #dae9cc;
}

.cls-1451 {
  fill: #d1efbc;
}

.cls-1452 {
  fill: #9bd474;
}

.cls-1453 {
  fill: #8fbe73;
}

.cls-1454 {
  fill: #88c75a;
}

.cls-1455 {
  fill: #88c54e;
}

.cls-1456 {
  fill: #a9d180;
}

.cls-1457 {
  fill: #d9e9ca;
}

.cls-1458 {
  fill: #cceec2;
}

.cls-1459 {
  fill: #96d665;
}

.cls-1460 {
  fill: #84c654;
}

.cls-1461 {
  fill: #9cd855;
}

.cls-1462 {
  fill: #97d465;
}

.cls-1463 {
  fill: #95c17c;
}

.cls-1464 {
  fill: #86c658;
}

.cls-1465 {
  fill: #93da5d;
}

.cls-1466 {
  fill: #aa9b61;
}

.cls-1467 {
  fill: #aa9963;
}

.cls-1468 {
  fill: #ad946c;
}

.cls-1469 {
  fill: #a99964;
}

.cls-1470 {
  fill: #fbf6e5;
}

.cls-1471 {
  fill: #f7fdfd;
}

.cls-1472 {
  fill: #ae966d;
}

.cls-1473 {
  fill: #b59773;
}

.cls-1474 {
  fill: #faf7e9;
}

.cls-1475 {
  fill: #f7f5e1;
}

.cls-1476 {
  fill: #f8f5e5;
}

.cls-1477 {
  fill: #fbf2e5;
}

.cls-1478 {
  fill: #f9e9e0;
}

.cls-1479 {
  fill: #eefdfa;
}

.cls-1480 {
  fill: #fbf3e0;
}

.cls-1481 {
  fill: #ecfdfa;
}

.cls-1482 {
  fill: #fbf1e2;
}

.cls-1483 {
  fill: #a78760;
}

.cls-1484 {
  fill: #95bc5c;
}

.cls-1485 {
  fill: #98dd61;
}

.cls-1486 {
  fill: #94b256;
}

.cls-1487 {
  fill: #98ba59;
}

.cls-1488 {
  fill: #bb9260;
}

.cls-1489 {
  fill: #84b648;
}

.cls-1490 {
  fill: #7dd45d;
}

.cls-1491 {
  fill: #7ad36a;
}

.cls-1492 {
  fill: #96bb59;
}

.cls-1493 {
  fill: #89c84f;
}

.cls-1494 {
  fill: #c7935e;
}

.cls-1495 {
  fill: #aa9a65;
}

.cls-1496 {
  fill: #9cb15c;
}

.cls-1497 {
  fill: #96b755;
}

.cls-1498 {
  fill: #aa9d53;
}

.cls-1499 {
  fill: #a5a55f;
}

.cls-1500 {
  fill: #90c152;
}

.cls-1501 {
  fill: #90b056;
}

.cls-1502 {
  fill: #aca464;
}

.cls-1503 {
  fill: #b4a055;
}

.cls-1504 {
  fill: #c59165;
}

.cls-1505 {
  fill: #b09866;
}

.cls-1506 {
  fill: #a2e568;
}

.cls-1507 {
  fill: #96be58;
}

.cls-1508 {
  fill: #a3dd72;
}

.cls-1509 {
  fill: #a5dd7a;
}

.cls-1510 {
  fill: #a2e85e;
}

.cls-1511 {
  fill: #a7de78;
}

.cls-1512 {
  fill: #90ba55;
}

.cls-1513 {
  fill: #9db455;
}

.cls-1514 {
  fill: #8cbb48;
}

.cls-1515 {
  fill: #b3a268;
}

.cls-1516 {
  fill: #a2e667;
}

.cls-1517 {
  fill: #98e76c;
}

.cls-1518 {
  fill: #9ae75e;
}

.cls-1519 {
  fill: #b6aa60;
}

.cls-1520 {
  fill: #a1e568;
}

.cls-1521 {
  fill: #a5e26a;
}

.cls-1522 {
  fill: #9de662;
}

.cls-1523 {
  fill: #99dc60;
}

.cls-1524 {
  fill: #9ada5f;
}

.cls-1525 {
  fill: #98de59;
}

.cls-1526 {
  fill: #a1e561;
}

.cls-1527 {
  fill: #97dc5e;
}

.cls-1528 {
  fill: #99e966;
}

.cls-1529 {
  fill: #97da5d;
}

.cls-1530 {
  fill: #a6e164;
}

.cls-1531 {
  fill: #abdc7b;
}

.cls-1532 {
  fill: #a4dc7b;
}

.cls-1533 {
  fill: #acdc7e;
}

.cls-1534 {
  fill: #acdb86;
}

.cls-1535 {
  fill: #4b6f35;
}

.cls-1536 {
  fill: #b3eb91;
}

.cls-1537 {
  fill: #98dc60;
}

.cls-1538 {
  fill: #99da5e;
}

.cls-1539 {
  fill: #94db5b;
}

.cls-1540 {
  fill: #ad7;
}

.cls-1541 {
  fill: #4c722f;
}

.cls-1542 {
  fill: #a3de79;
}

.cls-1543 {
  fill: #456a1d;
}

.cls-1544 {
  fill: #497834;
}

.cls-1545 {
  fill: #a9e08d;
}

.cls-1546 {
  fill: #b1d885;
}

.cls-1547 {
  fill: #22550d;
}

.cls-1548 {
  fill: #fcfdfc;
}

.cls-1549 {
  fill: #e8fbe0;
}

.cls-1550 {
  fill: #f0fcde;
}

.cls-1551 {
  fill: #a1d96b;
}

.cls-1552 {
  fill: #4d7f2b;
}

.cls-1553 {
  fill: #95da5b;
}

.cls-1554 {
  fill: #97dd5e;
}

.cls-1555 {
  fill: #a8dd75;
}

.cls-1556 {
  fill: #9bdb60;
}

.cls-1557 {
  fill: #9dd66d;
}

.cls-1558 {
  fill: #97db5b;
}

.cls-1559 {
  fill: #abda80;
}

.cls-1560 {
  fill: #487731;
}

.cls-1561 {
  fill: #a9da7d;
}

.cls-1562 {
  fill: #a3dc85;
}

.cls-1563 {
  fill: #a7e372;
}

.cls-1564 {
  fill: #9bd965;
}

.cls-1565 {
  fill: #3a5e18;
}

.cls-1566 {
  fill: #a3dc6b;
}

.cls-1567 {
  fill: #4f742e;
}

.cls-1568 {
  fill: #436e1f;
}

.cls-1569 {
  fill: #366422;
}

.cls-1570 {
  fill: #c4e2a4;
}

.cls-1571 {
  fill: #9ee27d;
}

.cls-1572 {
  fill: #f2fde6;
}

.cls-1573 {
  fill: #e5f7c1;
}

.cls-1574 {
  fill: #447221;
}

.cls-1575 {
  fill: #afdb93;
}

.cls-1576 {
  fill: #496a28;
}

.cls-1577 {
  fill: #426f25;
}

.cls-1578 {
  fill: #debe7c;
}

.cls-1579 {
  fill: #debc71;
}

.cls-1580 {
  fill: #f7fdfe;
}

.cls-1581 {
  fill: #ddbe7a;
}

.cls-1582 {
  fill: #dfbc76;
}

.cls-1583 {
  fill: #fdfcf1;
}

.cls-1584 {
  fill: #fbf8dd;
}

.cls-1585 {
  fill: #fbfaeb;
}

.cls-1586 {
  fill: #f9f7d4;
}

.cls-1587 {
  fill: #f8f3da;
}

.cls-1588 {
  fill: #cdb47a;
}

.cls-1589 {
  fill: #fdfae6;
}

.cls-1590 {
  fill: #fcf7e5;
}

.cls-1591 {
  fill: #fbf5d5;
}

.cls-1592 {
  fill: #fbf5db;
}

.cls-1593 {
  fill: #e2bd70;
}

.cls-1594 {
  fill: #d9bd7f;
}

.cls-1595 {
  fill: #e2c074;
}

.cls-1596 {
  fill: #faf3dd;
}

.cls-1597 {
  fill: #d6bc7d;
}

.cls-1598 {
  fill: #f3fef5;
}

.cls-1599 {
  fill: #e1ba7c;
}

.cls-1600 {
  fill: #dfc27a;
}

.cls-1601 {
  fill: #f6ede0;
}

.cls-1602 {
  fill: #fcf3e0;
}

.cls-1603 {
  fill: #f8f0ce;
}

.cls-1604 {
  fill: #e8c26b;
}

.cls-1605 {
  fill: #dec87b;
}

.cls-1606 {
  fill: #e1b960;
}

.cls-1607 {
  fill: #fcf4d6;
}

.cls-1608 {
  fill: #faf1d5;
}

.cls-1609 {
  fill: #ddc386;
}

.cls-1610 {
  fill: #ebbe67;
}

.cls-1611 {
  fill: #f8eed1;
}

.cls-1612 {
  fill: #ebfcfb;
}

.cls-1613 {
  fill: #faf4dd;
}

.cls-1614 {
  fill: #fbcb65;
}

.cls-1615 {
  fill: #f9c870;
}

.cls-1616 {
  fill: #f5cf51;
}

.cls-1617 {
  fill: #fcc963;
}

.cls-1618 {
  fill: #fccd64;
}

.cls-1619 {
  fill: #fbc969;
}

.cls-1620 {
  fill: #facb72;
}

.cls-1621 {
  fill: #d7c1a1;
}

.cls-1622 {
  fill: #dfba5e;
}

.cls-1623 {
  fill: #fdcb6a;
}

.cls-1624 {
  fill: #dbbc71;
}

.cls-1625 {
  fill: #e2bf76;
}

.cls-1626 {
  fill: #d0cfbb;
}

.cls-1627 {
  fill: #dcbb69;
}

.cls-1628 {
  fill: #e5bf5e;
}

.cls-1629 {
  fill: #fac96a;
}

.cls-1630 {
  fill: #f7c663;
}

.cls-1631 {
  fill: #e5bb80;
}

.cls-1632 {
  fill: #fcca60;
}

.cls-1633 {
  fill: #fcca69;
}

.cls-1634 {
  fill: #fccb6e;
}

.cls-1635 {
  fill: #715d4a;
}

.cls-1636 {
  fill: #f5cf5a;
}

.cls-1637 {
  fill: #fdc579;
}

.cls-1638 {
  fill: #e7d192;
}

.cls-1639 {
  fill: #fcd052;
}

.cls-1640 {
  fill: #e4cf7a;
}

.cls-1641 {
  fill: #f9edd3;
}

.cls-1642 {
  fill: #f9c577;
}

.cls-1643 {
  fill: #facb76;
}

.cls-1644 {
  fill: #fdf1b2;
}

.cls-1645 {
  fill: #68562c;
}

.cls-1646 {
  fill: #6a5747;
}

.cls-1647 {
  fill: #e4c171;
}

.cls-1648 {
  fill: #ebcb64;
}

.cls-1649 {
  fill: #fcc676;
}

.cls-1650 {
  fill: #e9ca7d;
}

.cls-1651 {
  fill: #6b5934;
}

.cls-1652 {
  fill: #f9e19e;
}

.cls-1653 {
  fill: #f2ce51;
}

.cls-1654 {
  fill: #f4d089;
}

.cls-1655 {
  fill: #d8d989;
}

.cls-1656 {
  fill: #fbcc61;
}

.cls-1657 {
  fill: #f3ca70;
}

.cls-1658 {
  fill: #f8c957;
}

.cls-1659 {
  fill: #fbf3cb;
}

.cls-1660 {
  fill: #f4d464;
}

.cls-1661 {
  fill: #6b4c27;
}

.cls-1662 {
  fill: #6f5239;
}

.cls-1663 {
  fill: #695606;
}

.cls-1664 {
  fill: #fecc61;
}

.cls-1665 {
  fill: #f4d587;
}

.cls-1666 {
  fill: #f8cb61;
}

.cls-1667 {
  fill: #fdc85e;
}

.cls-1668 {
  fill: #ebcd69;
}

.cls-1669 {
  fill: #f1d58b;
}

.cls-1670 {
  fill: #fcf5c1;
}

.cls-1671 {
  fill: #5b564d;
}

.cls-1672 {
  fill: #644e4e;
}

.cls-1673 {
  fill: #f6c793;
}

.cls-1674 {
  fill: #634d1a;
}

.cls-1675 {
  fill: #644711;
}

.cls-1676 {
  fill: #5b4f46;
}

.cls-1677 {
  fill: #fbfafa;
}

.cls-1678 {
  fill: #fcf7d1;
}

.cls-1679 {
  fill: #dcbf87;
}

.cls-1680 {
  fill: #f3c977;
}

.cls-1681 {
  fill: #60460c;
}

.cls-1682 {
  fill: #f7f1d5;
}

.cls-1683 {
  fill: #fdc660;
}

.cls-1684 {
  fill: #feeabb;
}

.cls-1685 {
  fill: #ddd474;
}

.cls-1686 {
  fill: #fce98f;
}

.cls-1687 {
  fill: #dfd38f;
}

.cls-1688 {
  fill: #6d5a28;
}

.cls-1689 {
  fill: #e8c469;
}

.cls-1690 {
  fill: #f6fce9;
}

.cls-1691 {
  fill: #9dd26d;
}

.cls-1692 {
  fill: #e9f8e7;
}

.cls-1693 {
  fill: #83b456;
}

.cls-1694 {
  fill: #f4fce3;
}

.cls-1695 {
  fill: #f0fae3;
}

.cls-1696 {
  fill: #effce0;
}

.cls-1697 {
  fill: #f1fce4;
}

.cls-1698 {
  fill: #f0fce5;
}

.cls-1699 {
  fill: #effce3;
}

.cls-1700 {
  fill: #a1d57c;
}

.cls-1701 {
  fill: #edfae6;
}

.cls-1702 {
  fill: #f1f9e9;
}

.cls-1703 {
  fill: #a0d27a;
}

.cls-1704 {
  fill: #effbdb;
}

.cls-1705 {
  fill: #f3f8e4;
}

.cls-1706 {
  fill: #ebfddc;
}

.cls-1707 {
  fill: #edfaec;
}

.cls-1708 {
  fill: #f6fced;
}

.cls-1709 {
  fill: #eefbe0;
}

.cls-1710 {
  fill: #eef9e2;
}

.cls-1711 {
  fill: #aed57e;
}

.cls-1712 {
  fill: #edfad9;
}

.cls-1713 {
  fill: #9ad370;
}

.cls-1714 {
  fill: #e3f9c7;
}

.cls-1715 {
  fill: #f8feed;
}

.cls-1716 {
  fill: #e1f7d2;
}

.cls-1717 {
  fill: #e3f6cc;
}

.cls-1718 {
  fill: #7cb44a;
}

.cls-1719 {
  fill: #82b05d;
}

.cls-1720 {
  fill: #89aa67;
}

.cls-1721 {
  fill: #7db549;
}

.cls-1722 {
  fill: #92d658;
}

.cls-1723 {
  fill: #90bc60;
}

.cls-1724 {
  fill: #a5d37b;
}

.cls-1725 {
  fill: #97bb78;
}

.cls-1726 {
  fill: #7aae3e;
}

.cls-1727 {
  fill: #93cd5c;
}

.cls-1728 {
  fill: #9fd474;
}

.cls-1729 {
  fill: #a6d375;
}

.cls-1730 {
  fill: #a6d27d;
}

.cls-1731 {
  fill: #89bc5d;
}

.cls-1732 {
  fill: #95b871;
}

.cls-1733 {
  fill: #8db976;
}

.cls-1734 {
  fill: #8cba61;
}

.cls-1735 {
  fill: #b3d99a;
}

.cls-1736 {
  fill: #8eb95e;
}

.cls-1737 {
  fill: #8fb96b;
}

.cls-1738 {
  fill: #95bb66;
}

.cls-1739 {
  fill: #91bb4f;
}

.cls-1740 {
  fill: #a7d089;
}

.cls-1741 {
  fill: #89bc5a;
}

.cls-1742 {
  fill: #91b96a;
}

.cls-1743 {
  fill: #dcf3c9;
}

.cls-1744 {
  fill: #92d860;
}

.cls-1745 {
  fill: #b5dd94;
}

.cls-1746 {
  fill: #86c252;
}

.cls-1747 {
  fill: #80b651;
}

.cls-1748 {
  fill: #99d268;
}

.cls-1749 {
  fill: #7db74b;
}

.cls-1750 {
  fill: #91cb61;
}

.cls-1751 {
  fill: #94d65d;
}

.cls-1752 {
  fill: #98db5a;
}

.cls-1753 {
  fill: #86c352;
}

.cls-1754 {
  fill: #96d161;
}

.cls-1755 {
  fill: #fafaf7;
}

.cls-1756 {
  fill: #f3f9ef;
}

.cls-1757 {
  fill: #f3fce6;
}

.cls-1758 {
  fill: #dff5c7;
}

.cls-1759 {
  fill: #e0f7c1;
}

.cls-1760 {
  fill: #e2f4d3;
}

.cls-1761 {
  fill: #e7f5ea;
}

.cls-1762 {
  fill: #effad8;
}

.cls-1763 {
  fill: #eaf8e9;
}

.cls-1764 {
  fill: #8ec141;
}

.cls-1765 {
  fill: #daf4c2;
}

.cls-1766 {
  fill: #dbeec4;
}

.cls-1767 {
  fill: #84c437;
}

.cls-1768 {
  fill: #fbfdf6;
}

.cls-1769 {
  fill: #89c03a;
}

.cls-1770 {
  fill: #c0e498;
}

.cls-1771 {
  fill: #b7e78f;
}

.cls-1772 {
  fill: #b9e08e;
}

.cls-1773 {
  fill: #b4d98e;
}

.cls-1774 {
  fill: #bbe78e;
}

.cls-1775 {
  fill: #fcfafa;
}

.cls-1776 {
  fill: #b7e48e;
}

.cls-1777 {
  fill: #b8df8d;
}

.cls-1778 {
  fill: #ade080;
}

.cls-1779 {
  fill: #9cd866;
}

.cls-1780 {
  fill: #fdf8fb;
}

.cls-1781 {
  fill: #f5fee0;
}

.cls-1782 {
  fill: #b1d39f;
}

.cls-1783 {
  fill: #f1fee7;
}

.cls-1784 {
  fill: #afd97d;
}

.cls-1785 {
  fill: #abd36b;
}

.cls-1786 {
  fill: #f8fdfb;
}

.cls-1787 {
  fill: #9ad470;
}

.cls-1788 {
  fill: #f9fbf2;
}

.cls-1789 {
  fill: #ad9475;
}

.cls-1790 {
  fill: #e17364;
}

.cls-1791 {
  fill: #9fd375;
}

.cls-1792 {
  fill: #f7f9ed;
}

.cls-1793 {
  fill: #faf1ed;
}

.cls-1794 {
  fill: #faf4e1;
}

.cls-1795 {
  fill: #f4fce4;
}

.cls-1796 {
  fill: #f1fbf0;
}

.cls-1797 {
  fill: #fdf5f0;
}

.cls-1798 {
  fill: #db8173;
}

.cls-1799 {
  fill: #fcede7;
}

.cls-1800 {
  fill: #fbede9;
}

.cls-1801 {
  fill: #f3e8e3;
}

.cls-1802 {
  fill: #b1947b;
}

.cls-1803 {
  fill: #fdf3e8;
}

.cls-1804 {
  fill: #fce5e4;
}

.cls-1805 {
  fill: #bf766b;
}

.cls-1806 {
  fill: #e5fadd;
}

.cls-1807 {
  fill: #f1fefb;
}

.cls-1808 {
  fill: #e9f7d9;
}

.cls-1809 {
  fill: #faefe2;
}

.cls-1810 {
  fill: #e5f9d4;
}

.cls-1811 {
  fill: #b5dc96;
}

.cls-1812 {
  fill: #ac9578;
}

.cls-1813 {
  fill: #b3a077;
}

.cls-1814 {
  fill: #bf7368;
}

.cls-1815 {
  fill: #a97f85;
}

.cls-1816 {
  fill: #8fcf59;
}

.cls-1817 {
  fill: #96d465;
}

.cls-1818 {
  fill: #9dd563;
}

.cls-1819 {
  fill: #f0eeb6;
}

.cls-1820 {
  fill: #9ad75f;
}

.cls-1821 {
  fill: #99da5f;
}

.cls-1822 {
  fill: #b39561;
}

.cls-1823 {
  fill: #ab9376;
}

.cls-1824 {
  fill: #f4f4d7;
}

.cls-1825 {
  fill: #a1d179;
}

.cls-1826 {
  fill: #fdf4ea;
}

.cls-1827 {
  fill: #c38f64;
}

.cls-1828 {
  fill: #eb715e;
}

.cls-1829 {
  fill: #ed6f59;
}

.cls-1830 {
  fill: #f26f68;
}

.cls-1831 {
  fill: #c27869;
}

.cls-1832 {
  fill: #96d655;
}

.cls-1833 {
  fill: #cb6759;
}

.cls-1834 {
  fill: #d5685b;
}

.cls-1835 {
  fill: #c16f60;
}

.cls-1836 {
  fill: #c86c5f;
}

.cls-1837 {
  fill: #d57b70;
}

.cls-1838 {
  fill: #bd7971;
}

.cls-1839 {
  fill: #af5655;
}

.cls-1840 {
  fill: #d8796b;
}

.cls-1841 {
  fill: #db6554;
}

.cls-1842 {
  fill: #96d760;
}

.cls-1843 {
  fill: #97d167;
}

.cls-1844 {
  fill: #94d561;
}

.cls-1845 {
  fill: #99d964;
}

.cls-1846 {
  fill: #ebf8c6;
}

.cls-1847 {
  fill: #b6927d;
}

.cls-1848 {
  fill: #fceee7;
}

.cls-1849 {
  fill: #e47567;
}

.cls-1850 {
  fill: #f3fefc;
}

.cls-1851 {
  fill: #f0fdfb;
}

.cls-1852 {
  fill: #f8fdf0;
}

.cls-1853 {
  fill: #ef7c74;
}

.cls-1854 {
  fill: #f8b0a7;
}

.cls-1855 {
  fill: #f46d5f;
}

.cls-1856 {
  fill: #f46a63;
}

.cls-1857 {
  fill: #e77261;
}

.cls-1858 {
  fill: #fec0b1;
}

.cls-1859 {
  fill: #eb7060;
}

.cls-1860 {
  fill: #f4695c;
}

.cls-1861 {
  fill: #ba7467;
}

.cls-1862 {
  fill: #f77469;
}

.cls-1863 {
  fill: #ecbbb1;
}

.cls-1864 {
  fill: #f5b2a8;
}

.cls-1865 {
  fill: #f9b1a2;
}

.cls-1866 {
  fill: #fbfbfb;
}

.cls-1867 {
  fill: #131313;
}

.cls-1868 {
  fill: #fafafa;
}

.cls-1869 {
  fill: #030303;
}

.cls-1870 {
  fill: #050505;
}

.cls-1871 {
  fill: #e8e8e8;
}

.cls-1872 {
  fill: #0c0c0c;
}

.cls-1873 {
  fill: #242424;
}

.cls-1874 {
  fill: #fcfcfc;
}
